<% layout('layouts/boilerplate') %>
    <style>
        
    </style>
    <h1 class="container" style="display: flex; justify-content: space-evenly;">
        <div >
            New item

        </div>
        
    </h1>
    
      <div class="container">
        <form action="/products" method="POST">
            <div class="row mb-3">
              <label for="name" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="string" class="form-control"  id="name" name="name" placeholder="Enter name of product">
              </div>
            </div>
            <div class="row mb-3">
                <label for="price" class="col-sm-2 col-form-label">Price
                </label>
                <div class="col-sm-10">
                  <input id="price" name="price" type="number" class="form-control"  placeholder="Enter price of product">
                </div>
            </div>
            <div class="row mb-3">
                <label for="desc" class="col-sm-2 col-form-label">Description
                </label>
                <div class="col-sm-10">
                  <textarea id="desc" name="desc" class="form-control"  placeholder="Enter desc of product"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <label for="img" class="col-sm-2 col-form-label">Image URL
                </label>
                <div class="col-sm-10">
                  <input name="img" id="img" class="form-control"  placeholder="Enter Image URL of the product">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>